@use "reset";
@use "variables/global";
@use "themes/dark";
@use "themes/light";

.body {
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.app,
.app_modal {
    color: var(--primary-color);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}