.Button {
    padding: 6px 13px;
    cursor: pointer;
    color: var(--inverted-primary-color);

    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.primary {
    padding: 6px 13px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: var(--super-border-radius);
    border: none;
    outline: none;
}

.secondary {
    padding: 6px 13px;
    color: var(--inverted-primary-color);
    border-radius: var(--super-border-radius);
    background: none;
    border: none;
    outline: none;
}

.outline {
    color: var(--secondary-color);
    background: none;
    border-radius: var(--super-border-radius);
    border: 1px solid var(--secondary-color);
    outline: none;
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.background_inverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-b);
    height: var(--font-line-b);
    font: var(--font-line-b);
}

.size_m {
    font: var(--font-line-m);
}

.size_l {
    font: var(--font-line-l);
}

.size_xl {
    font: var(--font-line-b);
}

.disabled {
    opacity: 0.5;
}