.Button {
  cursor: pointer;
  color: var(--inverted-primary-color);
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.primary {
    padding: 6px 13px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: var(--super-border-radius);
    border: none;
    outline: none;
}

.secondary {
    padding: 6px 13px;
    color: var(--inverted-primary-color);
    border-radius: var(--super-border-radius);
    background: none;
    border: none;
    outline: none;
}