.Rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 5px;
    font: var(--font-m);
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}