.pageError {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reloadButton {
    padding: 10px 20px;
    background:  var(--bg-color);
    color: cornflowerblue;
    border: none;
    cursor: pointer;
}