.app.dark {
  --bg-color: #181818;
  --inverted-bg-color: #f2f2f2;

  --primary-color: #db9503;
  --secondary-color: #eff1ef;


  --inverted-secondary-color: #23013f;
  --inverted-primary-color: #000000;
}