.app.light {
  --bg-color: rgb(255 255 255 / var(--bg-opacity));
  --inverted-bg-color: rgb(14 20 27 / var(--bg-opacity));

  --primary-color: rgb(30 30 30 / var(--text-opacity));
  --secondary-color: #6366f1;

  --inverted-primary-color: rgb(255 255 255 / var(--text-opacity));
  --inverted-secondary-color: #6366f1;
}