.app.light {
  --bg-color: #f2f2f2;
  --inverted-bg-color: #202020;

  --secondary-color: #23013f;
  --primary-color: #000000;

  --inverted-primary-color: #db9503;
  --inverted-secondary-color: #eff1ef;
}