.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: black;
    font-size: 48px;
    text-align: center;
}

.btn {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background-color: darkorange;
    color: #fff;
    border: none;
    cursor: pointer;
}