.ProfileCart {
    padding: 20px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius-modal);
}

.data {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
}

.input {
    display: flex;
}

.actions {
    margin-top: 30px;
    display: flex;
    margin-left: auto;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarWrapper {
    display: flex;
    margin-right: auto;
    width: 100%;
}

.editing {
    border: 2px solid var(--inverted-secondary-color);
}